html,
body {
  position: relative;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Calibri, Arial, sans-serif;
  font-size: 10px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background: url(http://upload.wikimedia.org/wikipedia/commons/d/dc/Sky-View_ForestWander.JPG) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 25px 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  height: 30px;
  line-height: 30px;
  color: black;
  padding: 0;
  border: none;
  font-size: 2em;
  text-indent: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
input:active {
  outline: 0;
  box-shadow: none;
}
header {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto 25px;
}
header input {
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 6px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
footer {
  position: relative;
  width: 300px;
  margin: 25px auto;
  text-align: center;
}
footer .prev,
footer .next {
  background-color: transparent;
  margin: -25px 0 0;
}
footer #pagination {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  line-height: 50px;
  border-radius: 6px;
}
footer #pagination .tick {
  display: inline-block;
  color: transparent;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
footer #pagination .tick.active {
  background-color: rgba(0, 0, 0, 0.75);
  color: black;
}
footer .ui-btn {
  display: block;
  height: 50px;
  line-height: 50px;
  border: none;
  border-radius: 6px;
  margin: 25px 0;
  width: 100%;
  font-size: 2em;
}
footer .ui-btn .glyph {
  font-size: 2em;
  vertical-align: middle;
}
.ui-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0 20px;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
.ui-btn .glyph {
  font-size: 3em;
  vertical-align: middle;
}
.ui-btn.save {
  display: block;
  width: 150px;
  padding: 0 20px;
  margin: 20px auto;
}
.ui-btn.save .glyph {
  position: relative;
  top: 5px;
}
.ui-btn:hover {
  background-color: #000000;
}
.card {
  float: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 0 0 25px 0;
  border-radius: 6px;
  margin: 0 25px 0 0;
  -webkit-transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.25s linear;
}
.card .input-wrapper {
  margin: 0;
}
.card .input-wrapper input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #999;
  padding: 20px 0 20px;
  border-radius: 6px 6px 0 0;
  text-align: center;
}
.card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.card .ui-btn {
  background-color: #555;
}
.card.active {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1);
}
.card.active .input-wrapper input {
  color: white;
}
.card.active .ui-btn {
  background-color: #ddd;
}
.card.active:after {
  display: none;
}
#main {
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
#main .weather-selector {
  position: relative;
  height: 200px;
}
#main .weather-selector .frame {
  position: relative;
  width: 250px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
#main .weather-selector .frame ul {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
#main .weather-selector .frame .glyph {
  float: left;
  position: relative;
  width: 250px;
  height: 100%;
  margin: 0 auto;
}
#main .weather-selector .frame .glyph [type=checkbox] {
  position: absolute;
  left: -9999em;
}
#main .weather-selector .frame .glyph .climacon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 100%;
  line-height: 250px;
  margin: -125px 0 0 -125px;
  font-size: 15em;
}
#main .weather-selector .frame .glyph .title {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 2.5em;
}
#main .temperature-selector {
  position: relative;
  height: 150px;
}
#main .temperature-selector .frame {
  position: relative;
  width: 250px;
  height: 100%;
  margin: 0 auto;
  font-size: 10em;
  text-align: center;
  letter-spacing: -0.1em;
}
#main .temperature-selector .frame .glyph .thermometer {
  position: relative;
  top: 10px;
  height: 140px;
  line-height: 140px;
  margin-right: 10px;
}
#main .temperature-selector .frame .glyph .celcius {
  position: relative;
  top: -5px;
  height: 140px;
  line-height: 140px;
}
.touch-start {
  background-color: rgba(0, 0, 255, 0.2);
}
.touch-move {
  background-color: rgba(0, 255, 0, 0.2);
}
.touch-move-left {
  background-color: rgba(255, 0, 0, 0.2);
}
.touch-move-right {
  background-color: rgba(255, 255, 0, 0.2);
}
.prev,
.next {
  display: block;
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  margin: -25px 5px 0;
  text-indent: -9999em;
}
.prev .ui-icon,
.next .ui-icon {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 25px;
  margin: -12.5px 0 0 -7.5px;
  background-position: center;
  background-repeat: no-repeat;
}
.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  background-color: white;
}
.prev {
  left: 0;
}
.prev .ui-icon {
  background-image: url(../img/icn/arrow-left.png);
}
.next {
  right: 0;
}
.next .ui-icon {
  background-image: url(../img/icn/arrow-right.png);
}
#ui-datepicker-div {
  background-color: white;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 1.4em;
}
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
  overflow: hidden;
}
#ui-datepicker-div .ui-datepicker-prev .ui-icon,
#ui-datepicker-div .ui-datepicker-next .ui-icon {
  width: 0;
  height: 0;
  border: 9px solid transparent;
  text-indent: -9999em;
}
#ui-datepicker-div .ui-datepicker-prev .ui-icon {
  border-right-color: #666;
}
#ui-datepicker-div .ui-datepicker-next .ui-icon {
  border-left-color: #666;
}
.ui-helper-hidden-accessible {
  position: absolute;
  left: -9999em;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 10px 0;
  }
  header {
    margin-bottom: 10px;
  }
  #main .card {
    padding: 0;
  }
  #main .card .weather-selector,
  #main .card .temperature-selector {
    float: left;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  #main .card .weather-selector .prev,
  #main .card .temperature-selector .prev,
  #main .card .weather-selector .next,
  #main .card .temperature-selector .next {
    display: none;
  }
  #main .card .weather-selector .frame,
  #main .card .temperature-selector .frame {
    width: 150px;
  }
  #main .card .weather-selector .frame .glyph,
  #main .card .temperature-selector .frame .glyph {
    width: 150px;
  }
  #main .card .weather-selector .frame .glyph .celcius,
  #main .card .temperature-selector .frame .glyph .celcius {
    position: relative;
    top: -20px;
    font-size: .6em;
  }
  #main .card .temperature-selector {
    margin-left: -20px;
  }
  #main .card .weather-selector {
    margin-bottom: -30px;
  }
  #main .card .weather-selector .frame .glyph .climacon {
    font-size: 9em;
  }
  #main .card .temperature-selector .frame {
    font-size: 8em;
  }
  #main .card:after {
    display: none;
  }
  footer,
  #pagination,
  footer > button {
    margin: 10px auto;
  }
}
